<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5" id="books-list-header">
				Book Overview
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10"></div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form>
				<div class="bor8 dis-flex p-l-15">
					
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
					
				</div>
				</form>	
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul>
							<li class="p-b-6">
								<a href="{{defaultsortURL}}" class="filter-link stext-106 trans-04" id="sort0">
									Mặc định
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{sortURL}}sort=popularity" class="filter-link stext-106 trans-04" id="sort1">
									Phổ biến nhất
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{sortURL}}sort=rating" class="filter-link stext-106 trans-04" id="sort2">
									Đánh giá
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{sortURL}}sort=newest" class="filter-link stext-106 trans-04" id="sort3">
									Mới nhất
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{sortURL}}sort=oldest" class="filter-link stext-106 trans-04" id="sort4">
									Cũ nhất
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{sortURL}}sort=high-low" class="filter-link stext-106 trans-04" id="sort5">
									Giá: Cao đến thấp
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{sortURL}}sort=low-high" class="filter-link stext-106 trans-04" id="sort6">
									Giá: Thấp đến cao
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="{{defaultpriceURL}}" class="filter-link stext-106 trans-04" id="price0">
									Tất cả
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{priceURL}}price=100000" class="filter-link stext-106 trans-04" id="price1">
									Dưới 100000 VNĐ
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{priceURL}}price=100000-200000" class="filter-link stext-106 trans-04" id="price2">
									100000 - 200000 VNĐ
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{priceURL}}price=200000-500000" class="filter-link stext-106 trans-04" id="price3">
									200000 - 500000 VNĐ
								</a>
							</li>

							<li class="p-b-6">
								<a href="{{priceURL}}price=500000" class="filter-link stext-106 trans-04" id="price4">
									Trên 500000 VNĐ
								</a>
							</li>
						</ul>
					</div>



					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Tags
						</div>

						<div class="flex-w p-t-4 m-r--5">
							<a href="{{defaultcategoryURL}}category=novel" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Tất cả
							</a>

							<a href="{{categoryURL}}category=novel" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Tiểu thuyết
							</a>

							<a href="{{categoryURL}}category=foreign-book" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Sách nước ngoài
							</a>

							<a href="{{categoryURL}}category=education" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Giáo dục
							</a>

							<a href="{{categoryURL}}category=textbook" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Sách giáo khoa
							</a>

							<a href="{{categoryURL}}category=fiction" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Viễn tưởng
							</a>

							<a href="{{categoryURL}}category=history" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Lịch sử
							</a>

							<a href="{{categoryURL}}category=horror" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Kinh dị
							</a>

							<a href="{{categoryURL}}category=light-novel" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Light Novel
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{!-- List Books --}}
		
		<div class="row isotope-grid" id="products">
			{{#each books}}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img class="img-edit1" src="{{image}}" alt="IMG-PRODUCT" >

								<a href="/shop/{{id}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Xem sản phẩm
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{title}}
									</a>

									<span class="stext-105 cl3">
										{{base_price}} VNĐ
									</span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>
			{{/each}}
		</div>


		

		<!-- Page -->
		<div class="flex-c-m flex-w w-full p-t-45" id="page">
			<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('{{page.currentPage}}', '1', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
				Đầu
			</button>

			{{#if page.prevPrevPage}}
				<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('{{page.currentPage}}', '{{page.prevPrevPage}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
					{{page.prevPrevPage}}
				</button>
			{{/if}}
{{!-- /shop?page={{page.prevPage}} --}}
			{{#if page.prevPage}}
				<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('{{page.currentPage}}', '{{page.prevPage}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
					{{page.prevPage}}
				</button>
			{{/if}}

			{{#if page.currentPage}}
				<button class="flex-c-m stext-101 cl0 size-103-edit bg3 bor1 p-lr-15 trans-04">
					{{page.currentPage}}
				</button>
			{{/if}}
{{!-- /shop?page={{page.nextPage}} --}}
			{{#if page.nextPage}}
				<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('{{page.currentPage}}', '{{page.nextPage}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
					{{page.nextPage}}
				</button>
			{{/if}}

			{{#if page.nextNextPage}}
				<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('{{page.currentPage}}','{{page.nextNextPage}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
					{{page.nextNextPage}}
				</button>
			{{/if}}
{{!-- /shop?page={{page.totalPage}} --}}
			<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('{{page.currentPage}}','{{page.totalPage}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
				Cuối
			</button>
		</div>
		

		
	</div>
</section>

<iframe id="myFrame" src="#" class="collapse"></iframe>

<script>
document.getElementById("myFrame").onload = function() {
	highlightSort({{sortCode}}); 
	highlightPrice({{priceCode}});
	};
</script>

<script type="text/x-handlebars-template" id="product-list">
	\{{#each books}}
		<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
			<!-- Block2 -->
			<div class="block2">
				<div class="block2-pic hov-img0">
					<img class="img-edit1" src="\{{this.image}}" alt="IMG-PRODUCT" >

					<a href="/shop/\{{this.id}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
						Xem sản phẩm
					</a>
				</div>

				<div class="block2-txt flex-w flex-t p-t-14">
					<div class="block2-txt-child1 flex-col-l ">
						<a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
							\{{this.title}}
						</a>

						<span class="stext-105 cl3">
							\{{this.base_price}} VNĐ
						</span>
					</div>

					<div class="block2-txt-child2 flex-r p-t-3">
						<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
							<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
							<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
						</a>
					</div>
				</div>
			</div>
		</div>
	\{{/each}}
</script>

<script type="text/x-handlebars-template" id="page-list">
	<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('/{{this.currentPage}}', '1','\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
		Đầu
	</button>

	\{{#if this.prevPrevPage}}
		<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('/{{this.currentPage}}','/{{this.prevPrevPage}}','\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.prevPrevPage}}
		</button>
	\{{/if}}
{{!-- /shop?page={{page.prevPage}} --}}
	\{{#if this.prevPage}}
		<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('\{{this.currentPage}}','\{{this.prevPage}}','\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.prevPage}}
		</button>
	\{{/if}}

	\{{#if this.currentPage}}
		<button class="flex-c-m stext-101 cl0 size-103-edit bg3 bor1 p-lr-15 trans-04">
			\{{this.currentPage}}
		</button>
	\{{/if}}
{{!-- /shop?page={{page.nextPage}} --}}
	\{{#if this.nextPage}}
		<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('/{{this.currentPage}}','/{{this.nextPage}}','\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.nextPage}}
		</button>
	\{{/if}}

	\{{#if this.nextNextPage}}
		<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('/{{this.currentPage}}','/{{this.nextNextPage}}','\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.nextNextPage}}
		</button>
	\{{/if}}
{{!-- /shop?page={{page.totalPage}} --}}
	<button class="flex-c-m stext-101 cl5 size-103-edit bg2 bor1 hov-btn1 p-lr-15 trans-04" onclick="replaceProducts('/{{this.currentPage}}','/{{this.totalPage}}','\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
		Cuối
	</button>
</script>